{% extends "attendance/DB5_base.html" %}

{% block title %}
メンバー編集
{% endblock title %}
{% block body %}
<header><h1>{{ChangedUser.user}}さんの情報を更新</h1></header>
<br>
<div class="container bg-light">
<form method="POST">
{% csrf_token %}
  <div class="row mb-3">
    <label  for="username" class="col-sm-2 col-form-label">名前</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="username" name="username" value={{ChangedUser.user}}>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword" class="col-sm-2 col-form-label">パスワード</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
  </div>
  <div class="row mb-3">
      <div class="col"><div class="row">
        <label for="time_at" class="col-sm-4 col-form-label" >出勤時間</label>
        
        <div class="col-sm-7">
            <input type="text" class="form-control" id="time_at" name="start_t" value="{{ChangedUser.start_overtime}}">
        </div>
      </div> </div>
      
      <div class="col"><div class="row">
        <label for="time_le" class="col-sm-4 col-form-label">退勤時間</label>
    
        <div class="col-sm-7">
            <input type="text" class="form-control" id="time_le" name="end_t" value="{{ChangedUser.end_overtime}}"></div>
        </div>
      </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-5 offset-sm-2">
      <div class="form-check">
        {% if ChangedUser.is_sending%}
            <input class="form-check-input" type="checkbox" id="sendCheck" name="is_send" checked>
        {% else %}
            <input class="form-check-input" type="checkbox" id="sendCheck" name="is_send">
        {% endif %}
        <label class="form-check-label" for="sendCheck" >
          送り
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="col-2">前借</label>
    <div class="col-3">      
      <input class="form-control" name="debt" value="{{ChangedUser.debt}}">
    </div>
  </div>
  <br>
  <div class="d-grid d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">保存</button>
  </div>
</form>
</div>

{% endblock body %}