{% extends "attendance/DB5_base.html" %}

{% block title %}
管理者form
{% endblock title %}
{% block body %}
<header><h1>管理者form</h1></header>
<br>
<div class="container bg-light"><form action="{% url 'AdminForm' %}" method="post">
  {% csrf_token %}
  <input type="submit" class=btn btn-primary value="削除">

    <table class="table caption-top">
        <caption></caption>
        <thead>
          <tr>
            <th>
              <label><input class="form-check-input" type="checkbox" id="all"></label>
            </th>
            <th scope="col">名前</th>
            <th scope="col">状態</th>
            <th scope="col">出勤時間</th>
            <th scope="col">退勤時間</th>
            <th scope="col">送り</th>
          </tr>
        </thead>
        <tbody>

        {% for account in object_list %}
            <tr><div>
            {% if not account.user.username == "admin" %}
                <th scope="row">
                  <label><input class="form-check-input" type="checkbox" name="chk" value="{{account.pk}}"></label>
                  </th>
               
                <th scope="row">
                <a href="{% url 'Edit' pk=account.pk %}">{{account.user}}
                </a>
                </th>
                {% if account.is_working %}<td>出勤</td>
                {% else %}<td>退勤</td>{% endif %}
                <td>{{account.start_overtime}}</td>
                <td>{{account.end_overtime}}</td>
                <td>
                    {% if account.is_sending %}&#10004;{% endif %}
                </td>
                <td>
                    <a href="{% url 'PopExcel' pk=account.pk %}" target="_blank" rel="noreferrer noopener">excel</a>
                </td>
               
            {% endif %}
            </div>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-secondary me-md-2" name="all_leave">一斉退勤</button><br><br>
      <a href="{% url 'Register' %}">新規登録はこちら</a><br>
      <a href="{% url 'Login' %}">ログインはこちら</a><br><br>
      <a href="{% url 'Daily' %}">日報をダウンロード</a>
 </form></div>

{% endblock body %}