{% extends "attendance/base.html" %}
{% block content %}

<h1>退勤管理Form</h1>

    <form>
        {% csrf_token %}
<div>
    <p align="center">ログイン中：{{user}}さん</p>
    
    {% if is_working %}
        <p>{{time_start}}に出勤しました．<br>今日も一日頑張りましょう．</p>
    {% else %}
        <p>{{time_end}}に退勤しました．
        <p>本日の作業時間は{{delta_h}}時間{{delta_m}}分です．<br>お疲れ様でした．</p>
        
    {% endif %}
    <button class = "bbutton" name="login" onclick="location.href='{% url 'Login' %}'">確認</button>
 
</div>
    </form>


{% endblock %}