{% extends "attendance/DB5_base.html" %}

{% block title %}
checksheet
{% endblock title %}
{% block body %}
<div class="container">
    <form action="{% url 'CheckSheet' pk=CheckSheet.pk %}" method="post">
    {% csrf_token %}
    <input type="hidden" class="form-control" name="total_pay" id="total_fee" value="{{CheckSheet.total_fee}}">
    <input type="hidden" class="form-control" name="how_cash" id="cash_p" value="{{CheckSheet.how_cash}}">
  
    {% if not CheckSheet.asign and CheckSheet.end_overtime == "" %}
        <input type="submit" class="btn btn-danger" name="cancel" value="アサインをキャンセル">
    {% endif %}
        <header>
        <h1 class="text-center">会計表</h1>
    </header>
    <main>
        <div class="row">
            <div class="col-8">
                <h4>{{CheckSheet.start_time|date:"Y年n月j日"}}</h4> 
            </div>
            <div class="col-4 ">
                <div class="col  d-flex justify-content-end">
                    <h5>来店　</h5>
                    <input type="text" name="start_time" class="form-control" value="{{CheckSheet.start_overtime}}" style="width: 100px; height: 30px;">
                </div>
                <div class="col d-flex justify-content-end">
                    <h5>退店　</h5>
                    <input type="text" name="end_time" class="form-control" value="{{CheckSheet.end_overtime}}" style="width: 100px; height: 30px;">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
        <div class="col-md-9">
            <div style="margin: 20px 50;">
            <table class="table table-bordered table-sm align-middle" name="order_table">
                <thead>
                <tr>
                    <th scope="col" style="width: 170px;">品名</th>
                    <th scope="col" style="width: 120px;">STAFF</th>
                    <th scope="col" style="width: 40px;">数量</th>
                    <th scope="col" style="width: 70px;">単価</th>
                    <th scope="col">金額</th>
                </tr>
                </thead>
                <tbody id="order" style="text-align: center;">
                    {% for item in CheckSheet.item_set.all %}
                        <tr id="item_field">
                            <td>
                                <div class="input-group mb-2" name="item_name">
                                    <input type="text" name="item_name" class="form-control" aria-label="Text input with dropdown button" value="{{item.item_name}}" style="width: 50px; text-align: center;">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria_expanded="true"></button>
                                    <ul class="dropdown-menu">
                                        {% for item in Menu.item_set.all %}
                                        <li class="order_items" data-num="{{item.item_num}}" data-cost="{{item.item_cost}}"><a class="dropdown-item">{{item}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="input-group mb-2">
                                    <input type="text" name="staff_name" class="form-control" aria-label="Text input with dropdown button" style="text-align: center;" value="{{item.staff}}" readonly>
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria_expanded="true"></button>
                                    <ul class="dropdown-menu">
                                        <li class="d_staffs" data-name="-"><a class="dropdown-item">--</a></li>
                                        {% for account in Staff %}
                                        {% if account.user.username != "admin" %}
                                        <li class="d_staffs" data-name="{{account}}"><a class="dropdown-item">{{account}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <input type="number" name="item_num" id="itemNumber" class="form-control" value="{{item.item_num}}" style="width: 60px; text-align: center;"/>
                            </td>
                            <td>
                                <input type="text" pattern="^[0-9]+$" name="item_cost" id="itemCost" class="form-control" value="{{item.item_cost}}" style="width: 70px; text-align: center;"/>
                            </td>
                            <td>
                                <p name="total">0</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="section1 text-center">
                <button type="button" class="btn btn-outline-primary rounded-circle p-0" name="orderAdd" style="width:2rem;height:2rem;"><h4>＋</h4></button>
            </div>
            <div class="row">
                <div class="col-7">
                    <label for="table-id">テーブル</label>
                    <h4 id="table-id">
                    {% for seat in CheckSheet.seat_set.all %}
                        {{seat}},
                    {% endfor %}
                    </h4>
                    <br>
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <input type="number" name="client_num" class="form-control" value="{{CheckSheet.client_num}}" style="width: 60px;">
                            <h4>　名</h4>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="all_staff">
                        <table class="table table-borderless table-sm align-middle" name="staff_table">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 20px;">指名</th>
                                <th scope="col" style="width: 10px;"> 
                                    <div class="section1 text-center">
                                        <button type="button" class="btn btn-otline-info rounded-circle p-1" name="staffAdd" style="width:2rem;height:2rem;"><h4>＋</h4></button>
                                        <button type="button" class="btn btn-otline-info rounded-circle p-1" name="staffDelete" style="width:2rem;height:2rem;"><h4>－</h4></button>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="staff_tbody">
                            {% for selectedStaff in Relations %}                              
                                <tr class="selected_staff_tr">
                                    <td>
                                        <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{selectedStaff.account}}   
                                            </button>
                                        <ul class="dropdown-menu" name="staff" aria-labelledby="dropdownMenuButton">
                                        {% for account in Staff %}
                                            {% if not account.user.username == "admin" %}
                                                <li><a class="dropdown-item">{{account}}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        <input type="hidden" class="form-control" name="selected_staff" value="{{selectedStaff.account.user.username}}">
                                        </ul>
                                    </td>
                                    <td>
                                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{selectedStaff.attr}}
                                        </button>
                                        <ul class="dropdown-menu" id="staff_attr" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item">B</a></li>
                                            <li><a class="dropdown-item">J</a></li>
                                            <li><a class="dropdown-item">D</a></li>
                                            <li><a class="dropdown-item">F</a></li>
                                            <li><a class="dropdown-item">M</a></li>
                                            <input type="hidden" class="form-control" name="staff_attr" value="{{selectedStaff.attr}}">
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    
                    <table class="table table-bordered table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">小計</th>
                                <td>
                                    <p class="text-right" name="total-s-all">0</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">サービス料</th>
                                <td>
                                    <p name="total-20">0</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">消費税</th>
                                <td>                                
                                    <p name="total-10">0</p>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row">税込合計</th>
                                <td>
                                    <p name="total-all">0</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">割引</th>
                                <td>
                                    <input type="text" pattern="[+-]?\d+" class="form-control" name="discount" value="{{CheckSheet.discount}}" style="width: 80px;"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <div class="d-flex align-items-center">
            <input type="text" name="client_name" class="form-control" value="{{CheckSheet}}" style="width: 200px ">
            <h4>様</h4>
        </div>
        </div>
        <div class="col-md-3">
            <div>
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr>
                            <th scope="row">税込合計金額</th>
                            <td>
                                <input class="form-control" name="total-f" value="{{CheckSheet.total_fee}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="dropdown" id="cash_how">
                    <h5>お支払い方法</h5>
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {{CheckSheet.how_cash}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item">現金</a></li>
                        <li><a class="dropdown-item">クレジットカード</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="d-grid gap-1 mx-auto" id="submit_button">
                    <input type="submit" class="btn btn-outline-primary" name="save" value="保存">
                    {% if CheckSheet.asign %}
                        <input type="submit" class="btn btn-outline-success" name="payment" value="会計">
                    {% endif %}
                </div> 
            </div>
            <br>
            <div class="form-floating">
                <textarea class="form-control" name="memo" id="floatingTextarea" style="height: 200px">{{CheckSheet.memo_str}}</textarea>
                <label for="floatingTextarea">Memo</label>
            </div>

        </div>
    </div>
    </main>
    </form>
</div>

{% endblock body %}

{% block script %}

$(function(){
    paymentCalc();

    var total = 0;

    $('input').keypress(function(e){
        if(e.which == 13){
            return false;
        }
    });

    $('table[name="order_table"]').on("change", '#itemNumber', paymentCalc);
    $('table[name="order_table"]').on("change", '#itemCost', paymentCalc);
    $('input[name="discount"]').on("change", paymentCalc);

    function paymentCalc(){
        var sum = 0;
        for(var i=0;i<$('table[name="order_table"] #itemNumber').length;i++){
            var num = $('input[name="item_num"]').eq(i).val();
            var cost = $('input[name="item_cost"]').eq(i).val();
            var totals = num*cost;
            sum += totals;
            $('p[name="total"]').eq(i).html(num*cost);
        }
        $('p[name="total-s-all"]').html(sum);
        $('p[name="total-20"]').html(Math.round(0.2*sum));
        sum = Math.round(1.2*sum);
        $('p[name="total-10"]').html(Math.round(0.1*sum));
        $('p[name="total-all"]').html(Math.round(1.1*sum));
        var discount = $('input[name="discount"]').val();
        //discount = 0;
        total = Math.round(1.1*sum)-discount*1;
        $('input[name="total-f"]').val(total);
        $('#total_fee').val(total);
    }

    $('button[name="orderAdd"]').on("click", function(){
        var all = $('#item_field').html();
        //alert(all);
        $('table[name="order_table"]').append('<tr id="item_field">'+all+'</tr>');
        
        var item_length = $('table[name="order_table"] #itemNumber').length-1;
        $('input[name="item_name"]').eq(item_length).val("");
        $('input[name="item_num"]').eq(item_length).val(0);
        $('input[name="item_cost"]').eq(item_length).val(0);
        $('p[name="total"]').eq(item_length).text("0");
        
    })

    $('button[name="staffAdd"]').on("click", function(){
        var all = $('.selected_staff_tr').html();
        //alert(all);
        $('#staff_tbody').append('<tr class="selected_staff_tr">'+all+'</tr>');
    })

    $('button[name="staffDelete"]').on("click", function(){
        index = $('.selected_staff_tr').length-1;
        //alert(index);
        if (index > 0){
            $('.selected_staff_tr').eq(index).remove();
        }
    })

    $('table[name="order_table"]').on("click", 'li', function(){
        //alert();
        $(this).parent().parent().find('input').val($(this).text());
        if($(this).attr("class") == "order_items"){
            $(this).parents('#item_field').find('#itemNumber').val($(this).data('num'));
            $(this).parents('#item_field').find('#itemCost').val($(this).data('cost'));
            paymentCalc();
        }
    })

    $('#staff_tbody').on("click", 'li', function(){
        //alert($(this).parents('div[name="staff_select"]').find('input').attr("class"));
        $(this).parents('td').find('button').text($(this).text());
        $(this).parent().find('input').val($(this).text());
    })
    
    $('#cash_how').on("click", 'li', function(){
        //alert($(this).text());
        $(this).parents('#cash_how').find('button').text($(this).text());
        $('#cash_p').val($(this).text());
    })

});

{% endblock script %}