{% extends "attendance/DB5_base.html" %}


{% block body %}
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="ボタングループを含むツールバー">
  <div class="btn-group" role="group" aria-label="第1グループ">
    <button type="button" class="btn btn-outline-secondary">1</button>
    <button type="button" class="btn btn-outline-secondary">2</button>
    <button type="button" class="btn btn-outline-secondary">3</button>
    <button type="button" class="btn btn-outline-secondary">4</button>
  </div>
  <div class="input-group">
    <div class="input-group-text" id="btnGroupAddon2">@</div>
    <input type="text" class="form-control" placeholder="インプットグループの例" aria-label="インプットグループの例" aria-describedby="btnGroupAddon2">
  </div>
</div>
{% endblock %}