{% extends "attendance/DB5_base.html" %}

{% block title %}
select seat
{% endblock title %}

{% block body %}
<header></header>

<div class="container" name="container"><br>
<form action="{% url 'SelectSeat' %}" method="post">
    {% csrf_token %}
    <div class="col position-relative" style="background-color: lavenderblush; height: 300px;">
        
        <div class="btn-group" role="group" style="position: absolute; left: 10px; top: 20px">
        {% for seat in object_list %}
        {% if seat.attr == "B" %}
            {% if not seat.is_use %}
            <label class="btn btn-primary p-2" for="seat-{{seat}}" name="seat-{{seat}}">
                <input type="checkbox" class="btn-check" name="seat-p" value="{{seat.pk}}" id="seat-{{seat}}" autocomplete="off">
                {{seat}}
            </label>
            {% else %}
                <button type="submit" class="btn btn-danger p-2" name="dager_button" value="{{seat.pk}}">{{seat}}</button>
            {% endif %}
        {% endif %}
        {% endfor %}
        </div>
        <div class="btn-group" role="group" style="position: absolute; left: 10px; top: 180px">
        {% for seat in object_list %}
        {% if seat.attr == "A" %}
            {% if not seat.is_use %}
                
                <label class="btn btn-primary p-2" for="seat-{{seat}}" name="p_label">
                    <input type="checkbox" class="btn-check" name="seat-p" value="{{seat.pk}}" id="seat-{{seat}}" autocomplete="off">
                    {{seat}}
                </label>
            
            {% else %}
                <button type="submit" class="btn btn-danger p-2" name="dager_button" value="{{seat.pk}}">{{seat}}</button>
            {% endif %}
        {% endif %}
        {% endfor %}
        </div>
        <div class="btn-group-vertical" role="group" style="position: absolute; left: 380px; top: 20px">
            {% for seat in object_list %}
            {% if seat.attr == "Y" %}
                {% if not seat.is_use %}
                    <label class="btn btn-primary p-2" for="seat-{{seat}}" name="p_label">
                        <input type="checkbox" class="btn-check" name="seat-p" value="{{seat.pk}}" id="seat-{{seat}}" autocomplete="off">
                        {{seat}}
                    </label>
                {% else %}
                    <button type="submit" class="btn btn-danger p-2" name="dager_button" value="{{seat.pk}}">{{seat}}</button>
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        <input type="submit" name="comp_btn" class="btn btn-outline-primary" style="position: absolute; right: 10px; bottom: 20px" value="アサイン">
    </div>
    <br>
    <a href="{% url 'Daily' %}">日報をダウンロード</a>
    <span class="d-grid gap-2 d-md-flex justify-content-end">
        <a class="btn btn-outline-info" href="{% url 'DailyEdit' %}">日報を編集</a>
    </span>
    <br><br>
    <h2>会計表</h2>
    <div class="asign_table">
        <h5>-未会計-</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">お客様名</th>
                <th scope="col">席</th>
                <th scope="col">お支払い金額</th>
                <th scope="col">来店時間</th>
                </tr>
            </thead>
            <tbody>
                {% for sheet in CheckSheet_list %}
                {% if sheet.client_name != "clientGOD" and sheet.asign %}
                    <tr data-href="{% url 'CheckSheet' pk=sheet.pk %}">
                    <td>{{sheet.client_name}}</td>
                    <td>
                        {% for seat in sheet.seat_set.all %}
                            {{seat}},
                        {% endfor %}
                    </td>
                    <td>¥{{sheet.total_fee}}</td>
                    <td>{{sheet.start_overtime}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="non_asign_table">
            <h5>-会計済-</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">お客様名</th>
                    <th scope="col">お支払い金額</th>
                    <th scope="col">来店時間</th>
                    <th scope="col">退店時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sheet in CheckSheet_list %}
                    {% if sheet.client_name != "clientGOD" and not sheet.asign %}
                        <tr data-href="{% url 'CheckSheet' pk=sheet.pk %}">
                        <td>{{sheet.client_name}}</td>
                        <td>¥{{sheet.total_fee}}</td>
                        <td>{{sheet.start_overtime}}</td>
                        <td>{{sheet.end_overtime}}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </div>

</form>
</div>

{% endblock body %}

{% block script %}
    var is_primary;
    var is_danger;
    $(function(){
        $('input').click(function(){
            //alert($(this).parents("label").attr("class"));
            if($(this).prop('checked')){
                //alert("dd");
                //alert($(this).parent().find('label').attr("class"));
                $(this).parents("label").css('background-color', 'limegreen');
            }else{
                $(this).parents("label").css('background-color', 'rgb(13,110,253)');
            }
            
        })
        $('tr[data-href]').click(function(){
            //alert($(this).data("href"));
            location.href = $(this).data("href");
        })
    });

{% endblock script %}