{% extends "attendance/DB5_base.html" %}

{% block title %}
select seat
{% endblock title %}

{% block body %}
<header></header>

<div class="container" name="container"><br>
<form action="{% url 'SelectSeat' %}" method="post">
    {% csrf_token %}
    <div class="col position-relative" style="background-color: lavenderblush; height: 300px;">
        {% for seat in object_list %}
            <div style="position: absolute; left: {{seat.pos_x}}px; top: {{seat.pos_y}}px">
            {% if not seat.is_use %}
                <span>
                    <input type="checkbox" class="btn-check" name="seat-p" value="{{seat.pk}}" id="seat{{seat}}" autocomplete="off">
                    <label class="btn btn-primary p-2" for="seat{{seat}}" name="p_label">{{seat}}</label>
                </span> 
                {% else %}
                <button type="submit" class="btn btn-danger p-2" name="dager_button" value="{{seat.pk}}">{{seat}}</button>
            {% endif %}
            </div>
        {% endfor %}
    </div>
    <input type="submit" name="comp_btn" class="btn btn-outline-primary" value="アサイン">
    <br>
    <h2>会計表</h2>
    <div class="asign_table">
        <h5>-未会計-</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">お客様名</th>
                <th scope="col">席</th>
                <th scope="col">お支払い金額</th>
                <th scope="col">来店時間</th>
                </tr>
            </thead>
            <tbody>
                {% for sheet in CheckSheet_list %}
                {% if sheet.client_name != "clientGOD" and sheet.asign %}
                    <tr data-href="{% url 'CheckSheet' pk=sheet.pk %}">
                    <td>{{sheet.client_name}}</td>
                    <td>
                        {% for seat in sheet.seat_set.all %}
                            {{seat}},
                        {% endfor %}
                    </td>
                    <td>¥{{sheet.total_fee}}</td>
                    <td>{{sheet.start_overtime}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="non_asign_table">
            <h5>-会計済-</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">お客様名</th>
                    <th scope="col">お支払い金額</th>
                    <th scope="col">来店時間</th>
                    <th scope="col">退店時間</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sheet in CheckSheet_list %}
                    {% if sheet.client_name != "clientGOD" and not sheet.asign %}
                        <tr data-href="{% url 'CheckSheet' pk=sheet.pk %}">
                        <td>{{sheet.client_name}}</td>
                        <td>¥{{sheet.total_fee}}</td>
                        <td>{{sheet.start_overtime}}</td>
                        <td>{{sheet.end_overtime}}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </div>

</form>
</div>

{% endblock body %}

{% block script %}
    var is_primary;
    var is_danger;
    $(function(){
        $('input[name="seat-p"]').click(function() {
            is_primary = false;
            $('input[name="seat-p"]').each(function(){
                if($(this).prop('checked')){
                    is_primary = true;
                    //alert("dd");
                    //alert($(this).parent().find('label').attr("class"));
                    $(this).parent().find('label').css('background-color', 'limegreen');
                }else{
                    $(this).parent().find('label').css('background-color', '');
                }
            })
            if(is_primary && is_danger){
                ($(this).prop('checked', false));
                is_primary = false;
                $('p[name="error1"]').remove();
                $('div[name="container"]').append('<p name="error1" style="color:red">使用中の席と同時に選択することはできません');
            }else{
                $('p[name="error1"]').remove();
            }
        });
        $('input[name="seat-d"]').click(function() {
            is_danger = false;
            $('input[name="seat-d"]').each(function(){
                if($(this).prop('checked')){
                    is_danger = true;
                }
            })
            if(is_danger && is_primary){
                is_danger = false;
                ($(this).prop('checked', false));
                $('p[name="error1"]').remove();
                $('div[name="container"]').append('<p name="error1" style="color:red">使用中の席と同時に選択することはできません');
            }else{
                $('p[name="error1"]').remove();
            }
        });
        //$('tr[data-href]').addClass('clickable');
        $('tr[data-href]').click(function(){
            //alert($(this).data("href"));
            location.href = $(this).data("href");
        })
    
    });

{% endblock script %}